<h1>Feed View</h1>

<ul class="feed-list">
  <li ng-repeat="image in feed" class="list-item">
    <div class="card">
      <div class="card-image">
        <a href="#/" ng-click="presentImage(image)"><img ng-src="{{image.url}}" alt="{{image.url}}"></a>
      </div>
      <div class="card-description">
        <ul>
          <li>{{image.username}}</li>
          <li>{{image.vote}}</li>
          <li>{{image.commentCount}}</li>
          <li>{{image.caption}}</li>
        </ul>
      </div>
    </div>
  </li>
</ul>

